<h3>GitHub Search</h3>
<form class="was-validated" [formGroup]="searchForm" (ngSubmit)="gitHubSearch()">
  <div class="mb-1 pb-1">
    <div class="form-inline">
      <label class="sr-only" for="validationTextarea">Query</label>
      <input type="text" class="form-control mb-1 mr-sm-2" id="validationTextarea" placeholder="Search GitHub" formControlName="query" required>
      <div class="invalid-feedback">Please enter a User Name or Repository.</div>
    </div>
  </div>
  <!-- For type in the radio options array -->
  <div *ngFor="let searchLable of searchOptions">
    <!-- Create a radio button -->
    <div class="form-check mb-1">
      <input
        type="radio"
        class="form-check-input"
        id="validationFormCheck"
        name="radioSearchSelection"
        value="{{searchLable}}"
        (change)="radioChangeHandler($event)"
        required
      />
      <i>{{searchLable}}</i>
      <label class="form-check-label" for="validationFormCheck"></label>
    </div>
  </div>
  <div class="mb-1">
    <button type="submit" class="btn btn-primary mb-1">Search</button>
  </div>
</form>

Result: {{ result }}
